<%- include('header') %>
    <div class="logo">
        <a href="/" class="logo">
            <img src="/images/logotype.jpg" alt="ConvertMyMoney" width="375" height="57">
        </a>
    </div>

    <div class="result">
        <div class="content">
            <p>R$ <%= conversion %> reais</p>
        </div>
    </div>
    <%- include('footer') %>